<div class="row">
  <div id="hotties">
    <ul>
      <% @photos.each do |photo| %>
      <li>
        <div class="hottiesquare" style="background-image:url(<%= photo.image %>);"
          <h2><a href="/users/<%= photo.user_id %>" alt="Details" target="_blank" class="caption"><%= photo.caption %></a></h2>
        </div>
    </li>
      <% end %>
    </ul>
  </div>
</div>


